<span style="font-size:36pt">dff9-W4111-Fall-2025-002-HW1.ipynb<span>

# Introduction

## Homework Overview

There is one version of the homework that both the programming and non-programming tracks complete.

There are 4 categories of question:
1. Short answer questions testing general knowledge and the ability to reason about the course material.
2. Entity-Relationship modeling questions testing the ability to define an ER model from a text/written description of a problem and to translate an ER model into SQL.
3. Relational algebra questions testing the ability to use the relational algebra.
4. SQL questing testing the ability to use SQL to produce data results from descriptions of the desired output.

## Submission Instructions

The homework is due at 11:59 PM on Sunday, 08-March-2026.

Please see [Ed discussion](https://edstem.org/us/courses/94820/discussion/7712431) for detailed submission instructions and for clarifications and answering questions.

# Part 1 $-$ Setup

## iPython-SQL

In [1]:
%load_ext sql

Set the proper root user ID and password for MySQL in the python cell below.

In [2]:
mysql_root_user = 'root'
mysql_root_password = 'dbuserdbuser'

mysql_url = f"mysql+pymysql://{mysql_root_user}:{mysql_root_password}@localhost"

In [3]:
mysql_url

'mysql+pymysql://root:dbuserdbuser@localhost'

In [4]:
%sql $mysql_url

In [5]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [6]:
%sql select * from db_book.student where dept_name="Comp. Sci."

 * mysql+pymysql://root:***@localhost
4 rows affected.

[('00128', 'Zhang', 'Comp. Sci.', Decimal('102')),
 ('12345', 'Shankar', 'Comp. Sci.', Decimal('32')),
 ('54321', 'Williams', 'Comp. Sci.', Decimal('54')),
 ('76543', 'Brown', 'Comp. Sci.', Decimal('58'))]

## SQL Alchemy

In [7]:
from sqlalchemy import create_engine, text

In [8]:
engine = create_engine(mysql_url)

In [9]:
# Raw SQL query
sql = text("SELECT * FROM db_book.student WHERE dept_name = :dept")

# Execute query
with engine.connect() as connection:
    result = connection.execute(sql, {"dept": "Comp. Sci."})
    
    for row in result:
        print(row)

('00128', 'Zhang', 'Comp. Sci.', Decimal('102'))
('12345', 'Shankar', 'Comp. Sci.', Decimal('32'))
('54321', 'Williams', 'Comp. Sci.', Decimal('54'))
('76543', 'Brown', 'Comp. Sci.', Decimal('58'))

## Pandas

In [10]:
import pandas

In [11]:
result = pandas.read_sql(con=engine, sql="select * from db_book.student where dept_name='Comp. Sci.'")

In [12]:
result

      ID      name   dept_name  tot_cred
0  00128     Zhang  Comp. Sci.     102.0
1  12345   Shankar  Comp. Sci.      32.0
2  54321  Williams  Comp. Sci.      54.0
3  76543     Brown  Comp. Sci.      58.0

## PyMySQL

In [13]:
import pymysql

In [14]:
conn = pymysql.connect(
    host="localhost",
    user=mysql_root_user,
    password=mysql_root_password,
    cursorclass=pymysql.cursors.DictCursor,
    autocommit=True
)

In [15]:
cursor = conn.cursor()

In [16]:
result = cursor.execute("select * from db_book.student where dept_name='Comp. Sci.'")
result = cursor.fetchall()

In [17]:
result

[{'ID': '00128',
  'name': 'Zhang',
  'dept_name': 'Comp. Sci.',
  'tot_cred': Decimal('102')},
 {'ID': '12345',
  'name': 'Shankar',
  'dept_name': 'Comp. Sci.',
  'tot_cred': Decimal('32')},
 {'ID': '54321',
  'name': 'Williams',
  'dept_name': 'Comp. Sci.',
  'tot_cred': Decimal('54')},
 {'ID': '76543',
  'name': 'Brown',
  'dept_name': 'Comp. Sci.',
  'tot_cred': Decimal('58')}]

# Written Questions

The written questions test general knowledge of the material presented in lectures and in the slides from the recommended textbook.

Your answers should be short and simple, and typically less than 5 sentences.

We will deduct points for answers that are rambling, too long, throwing out ideas and hoping something is correct, etc.

## Q1

#### Question

Using the approach/notation from lecture 3, slides 5 and 6 (also labelled 6.5, 6.6), what is the _relationship set_ for the following diagrams?

<img src="q1.png" width="700px">

#### Answer

## Q2

#### Question

What are the two primary reasons for using an _associative entity_ to implement a relationship between two entity sets?

#### Answer

## Q3

#### Question

Briefly explain the concept of a _weak entity._

#### Answer

Consider two the union of two relations in the relational algebra, e.g. r U s. What two criteria are necessary for the union to be possible?

## Q4

#### Question

What are the 4 types of integrity constraint on a single relation/table in SQL?

#### Answer

## Q5

#### Question

What is the key difference between a _unique_ constraint and a _primary key_ constraint?

#### Answer

## Q6

#### Question

Briefly explain the concepts of _disjoint/overlapping_ and _total/partial_ with respect to inheritance.

#### Answer

## Q7

#### Question

Briefly explain the following concepts:
1. Natural join
2. Theta join
3. Inner join
4. Outer join

#### Answer

## Q8

#### Question

Assume that a database implementation does not support ```FULL OUTER JOIN```. How is it possible to implement an equivalent query using other operations?

#### Answer

## Q9

#### Question

What are the 3 types of Join conditions?

#### Answer

## Q10

#### Question

Briefly explain __Codd's 4th Rule: Active Online Catalog:__ _The structure description of the entire database must be stored in an online catalog, known as data dictionary, which can be accessed by authorized users. Users can use the same query language to access the catalog which they use to access the database itself._

What is the name of the schema/database for the catalog in MySQL?

#### Answer

# Entity Relationship Modelling

## ER1

#### Question

Consider the following description of a datamodel.

A company sells products to customers. The operational database contains the following tables.

Your task is to draw a **logical ER diagram using Crow’s Foot notation** based solely on the description below.

From the description, you must determine:

- Primary keys  
- Composite keys  
- Foreign keys  
- Cardinalities  
- Optional vs. mandatory participation  
- Whether any entity is associative  

---

Customer

Each **Customer** represents a company that purchases products.

Attributes

- customerNumber — unique identifier for a customer  
- customerName  
- contactLastName  
- contactFirstName  
- phone  
- addressLine1  
- addressLine2  
- city  
- state  
- postalCode  
- country  
- creditLimit  

Business Rules

- Each customer has a unique `customerNumber`.  
- A customer may place zero, one, or many orders.  
- A customer may make zero, one, or many payments.  

---

Orders

Each **Order** represents a purchase transaction placed by a customer.

Attributes

- orderNumber — unique identifier for an order  
- orderDate  
- requiredDate  
- shippedDate  
- status  
- comments  

Business Rules

- Each order has a unique `orderNumber`.  
- Each order is placed by exactly one customer.  
- An order must contain at least one product.  
- An order may contain many products.  

---

OrderDetails

The **OrderDetails** table represents the individual line items of an order.

Attributes

- orderNumber  
- productCode  
- quantityOrdered  
- priceEach  
- orderLineNumber  

Business Rules

- Each row represents one product appearing on one order.  
- The combination of `orderNumber` and `productCode` uniquely identifies a line item.  
- Each line item belongs to exactly one order.  
- Each line item references exactly one product.  

---

Products

Each **Product** represents an item available for sale.

Attributes

- productCode — unique identifier for a product  
- productName  
- productLine  
- productScale  
- productVendor  
- productDescription  
- quantityInStock  
- buyPrice  
- MSRP  

Business Rules

- Each product has a unique `productCode`.  
- A product may appear in zero, one, or many order line items.  

---

Payments

Each **Payment** represents a payment made by a customer.

Attributes

- customerNumber  
- checkNumber  
- paymentDate  
- amount  

Business Rules

- Each payment is made by exactly one customer.  
- A customer may make multiple payments.  
- The combination of `customerNumber` and `checkNumber` uniquely identifies a payment.  

---

Deliverable

Draw a **Crow’s Foot ER diagram** that includes:

- All entities  
- All attributes  
- Primary keys (clearly marked)  
- Composite keys (clearly marked)  
- All relationships and foreign keys
- Cardinalities  
- Optional vs. mandatory participation  

Do not include implementation details such as data types.


Using Crow's Foot Notation and Lucidchart or an equivalent tool, draw a __logical datamodel__ for the scenario. Replace the image below with a screen capture of your diagram. 

You may have to define additional attributes or entity types to implement your solution.

You may add notes to the diagrams to document any assumptions, explain concepts your could not fully express in Crow's Foot Notation, etc.

__NOTE:__ The diagram below is a conceptual model. The question is asking you to define a logical model.

#### Answer


| <img src="er1-question.jpg" width="700px"> |
| :---: |
| __Logical Model__ |

## ER2

#### Question

You are to translate/write DDL to create an SQL database implementing the following diagram. Unless otherwise specified, you can assume that all columns are ```VARCHAR(64).```

The model has the additional constraints:
1. All ```email``` columns are ```unique``` within the table.
2. ```School.school_code``` is always exactly 4 characters.
3. ```Department.department_code``` is always exactly 4 characters.
4. ```CUID``` is ```unique``` and ```not null```.
5. ```Course.faculty_code``` and ```Section.course_code``` are a single characters and the allowed values are "C", "B", "E" and "W".
6. ```course_no``` is always exactly 4 characters and only the digits "0", "1", ..., "9" are allowed characters.
7. The allowed values for ```Section.semester``` are ```1```, ```2``` and ```3```.
8. ```StudentSection.role``` can have the values ```Enrolled```, ```Waitlist```, ```TA```.


| <img src="er-2-question.png" width="900px"> |
| :---: |
| __Logical Model__ |

#### Answer

In [ ]:
%%sql

drop database if  exists w4111_hw2;
create database w4111_hw2;

In [ ]:
%%sql

/*
    Place and execute your SQL DDL statements below.
*/

# Relational Algebra Questions

Using the [RelaX relational calculator](https://dbis-uibk.github.io/relax/calc/gist/4f7866c17624ca9dfa85ed2482078be8) and the sample data that comes with the recommended textbook for the following questions.

You answer will be a text copy/paste of your query and a screen capture/snip of the execution of the query.

## R1

#### Question

Write an algebra expression that computes a relation of the form ```(ID, name)``` that includes the ```ID``` and ```name``` of ```instructors``` that do not advise any students. You will use the relations ```instructor``` and ```advisor```. My result looks like

<img src="r1-result.png" width="300px;">

The answer area below contains an example of the result format but for a different query.

#### Answer

##### Relational Algebra Statement

```σ salary > 80000 (instructor)```

##### Execution Screen Capture

| <img src="R1-question.jpg" width="700px"> |
| :---: |
| __R1 Answer__ |

## R2

#### Question

Write a relational algebra expression that produces a table of for the ```(ID, name, course_id, title, credits)``` that contains the ```ID``` and ```name``` of ```instructors``` and the ```course_id, title``` and ```credits``` for the ```courses``` they teach. Your result should only contain faculty in the ```'Comp. Sci.``` department. Your expression will use the relations ```instructor```, ```teaches``` and ```course```.

My answer looks like

<img src="r2-result.png" width="500px">



The answer area below contains an example of the result format but for a different query.

#### Answer

##### Relational Algebra Statement

##### Execution Screen Capture

| <img src="" width="700px"> |
| :---: |
| __R2 Answer__ |

## R3

#### Question

Write a relational algebra expression that computes the courses offered in both the Fall 2009 and Spring 2010. You use the ```sections``` relation for the expression. There is only one course, ```'CS-101'``` that is offered both in Fall 2009 and Spring 2010.

The answer area below contains an example of the result format but for a different query.

#### Answer

##### Relational Algebra Statement

``` Some relational statement here```

##### Execution Screen Capture

| <img src="" width="700px"> |
| :---: |
| __R3 Answer__ |

# SQL

## S1

#### Question



Write and execute the SQL query that is equivalent to the relational algebra expression for question R1.

#### Answer

In [ ]:
%%sql

## S2

#### Question



Write and execute the SQL query that is equivalent to the relational algebra expression for question R2.

#### Answer

In [ ]:
%%sql

## S3

#### Question



Write and execute the SQL query that is equivalent to the relational algebra expression for question R3.

__NOTE:__
1. You need to change the semesters to Fall 2017 and Spring 2018 because the data is different.
2. MySQL does not support ```INTERSECT```. So, you will have to choose a different approach to performing the "intersection."

#### Answer

In [ ]:
%%sql

## S4

#### Question

Without using any kind of JOIN, for the sample dataset, write a SQL query that produces a result of the form ```(student_name, instructor_name)``` that contains the name of a student and the student's advisor. Your query will use the tables ```student, advisor``` and ```instructor```. Your query should only contain results for ```instructors``` in the ```dept_name``` ```"Comp. Sci."```.

For reference my query produces

<img src="s4-result.png" width="700px">

#### Answer

In [ ]:
%%sql

## S5

#### Question



Using the "online metadata catalog" for MySQL, write a query that produces a table of the form ```(table_schema, table_name, column_name, ordinal_position, column_default, is_nullable, data_type)``` for columns in the table ```db_book.student```. For reference, my answer looks like

<img src="s5-result.png">

#### Answer

In [ ]:
%%sql

``````

## Create PDF

1. Use the ```File -> Save and Export Notebook as -> HTML``` option to save your notebook as an HTML file.
2. Copy the created HTML file to the same directory as the notebook and images you created.
3. Open the HTML file in a browser.
4. Using the _browser's_ ```File -> Print``` option print the HTML file to a PDF. This is your submission format.
5. Follow the submission instructions on Ed Discussion to submit your file to GradeScope.